user = {{ mailserver_postfix_user_readonly }}
password = {{ mailserver_postfix_password_readonly }}
hosts = {{ mailserver_db_server }}
dbname = {{ mailserver_db_name }}
query = CALL `postfix_resolve_alias`('%s', '{{ mailserver_recipient_delimiter }}')

