APP_ENV=prod
APP_SECRET={{ viesti_app_secret }}

DATABASE_URL="mysql://{{ viesti_db_user }}:{{ viesti_db_password }}@localhost:3306/{{ viesti_db_name }}?serverVersion={{ mysql_version.query_result[0][0]['version'] }}"
MAILER_DSN=smtp://{{ viesti_mail_user }}:{{ viesti_mail_password }}@{{ hostname_smtp }}:587

MAILBOX_CONNECTION="{{ hostname_smtp }}:993/imap/ssl"
MAILBOX_USERNAME="{{ viesti_mail_user }}"
MAILBOX_PASSWORD="{{ viesti_mail_password }}"
DELETE_PROCESSED_MAILS=false
PUSHOVER_API_KEY=""
PUSHOVER_USER_KEY=""

ENABLE_REGISTRATION="true"
MAILBOX_PATH="INBOX"
MAILBOX2_ENABLED="false"
MAILBOX2_CONNECTION=
MAILBOX2_USERNAME=
MAILBOX2_PASSWORD=
MAILBOX2_PATH="INBOX"
